html,body{
	height:100%;
	width: 100%;
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar {
	background-color: #23415c;
	padding:  0;
	font-size: 1.2em;
	/* background: #FFEFBA;  
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
	background: linear-gradient(to right, #FFFFFF, #FFEFBA);  */
	background: #005AA7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar-brand img{
	margin-left: ;
}
.navbar-brand{
	min-height: 15px;
	padding: 0 15px 15px;
}

.navbar-default .navbar-nav li a{
	color: #0F2027
}
.navbar-default .navbar-nav li a:hover ,.navbar-default .navbar-nav li a:active{
	color: #D5D5D5;
}

/*	#home{
		background:url('../static/4.jpg') no-repeat center center fixed;
		display: table;
		height: 100%;
		position: relative;
		width:100%;
		background-size: cover;
		
	}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	color:white;
}
h3{
	color: white;
}*/
h3,p{
	/*padding-right: 80px;*/

}
#myCarousel{
	/*z-index: 100000;*/
	margin-bottom: 5%;
	/*padding-top: 80px;
	padding-left: 70px;*/
}
.padding {
	padding: 80px 0;
	position: relative;
	color: #D5D5D5
}
.emblem{
	color: #D5D5D5
}
.padding img{
	width: 100%
}
#fixed {
	background: url(../static/Transwal.jpg) no-repeat center center fixed;
	display: table;
	height: 40%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.lead{
	text-align: justify;
}

footer {
	width:100%;
	background-color: #23415C;
	padding: 5% 5% 5% 5%;
	color: #FFF;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}

.fa:hover{
	color:#D5D5D5;
	text-decoration: none;
}

.icon {
	max-width: 200px;
}

.row .thumbnail{
	margin-top: 20%;
	background: #2C5364;
	border: none;	
}
.row .thumbnail h3,p{
	color: #FFF;
}
.row .stable h2{
	text-align: center;
	margin-bottom: 2%;
}
.stat{
    
    padding-top: 5%;
    padding-bottom: 5%;
    color: azure;
    background-attachment: fixed;
    margin-top: 20px;
}

.stat i{
	font-size: 50px;
}

.stat-items h2{
	font-weight: bold;
	font-size: 42px;
	color: darkorange;
}

.stat p {
	font-weight: bold;
	letter-spacing: 1px;
}