@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");
body {
   
 /* height: calc(100vh - 60px);*/
  font-family: "Source Sans Pro", sans-serif;
  color: #151515;
 /* padding: 30px;*/
  padding-top: 0px;
  overflow-x: hidden;
}

 .card img{
  width: 130px;
  height: 100px;
  justify-content: center;
  margin-left: 90px;
}
#table  h2 {
  margin: 25px auto;
  color: black;
}
#table{
   background-color: #e3f2fd;
   margin-top: 7rem;
}
#tablet {
  position: relative;
  background-color: #e3f2fd;
  padding-bottom: 20px;  
}
.jumbotron1{
  margin-left: 5rem;
  min-height: 300px;
  margin-top: 20px;
  
}

#image1 video{
  width: 30rem;
  height: 20rem;
}

.jumbotron2{
  margin-right: 5rem;
  margin-top: 20px;
  min-height: 300px;
  
}
#image2{
  margin-left: 10rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
#menu{
  margin: 20px auto;
}

/*navbar*/
.navbar.solid {
  background-color: #242322;
  transition: background-color 1s ease 0s;
}

nav{
  width: 100%;
  overflow-x: hidden;
}
#imgcon{
  background:url(../static/lab1.jpg);
  background-size: cover;
  height: 680px;
  
}
#imgcon h2{
  text-align: center; 
  padding-top:35%;
  color: white;
  font-family: sans-serif;
  font-style: italic;  
  font-size: 50px;
  font-weight:bold; 

}

footer {
  width:100%;
  background-color: #242322;
  padding-top:5%; ;
  color:white;
}

.fa {
  margin: 20px;
  font-size: 100rem;
  color: white;
}

.fa:hover{
  color:orange;

}
.icon{
  margin-bottom: 10%;
}


#header {
  display: flex;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}
#header .slogan {
  max-width: 800px;
  padding: 8px 15px;
  background:#0000;
  border-radius: 3px;
  transition: all .3s ease-in-out;
 /* box-shadow: 0 0 45px 0 #6e2e72;*/
}
#header p {
  display: block;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  text-align: center;
  transition: all .3s ease-in-out;
}

.words {
  text-align: left;
  width: 220px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  -webkit-animation: changewords 7s infinite;
          animation: changewords 7s infinite;
}

.word {
  color: #DE6449;
  position: absolute;
  top: 0;
  height: 60px;
  width: 180px;
  overflow: hidden;
  -webkit-animation: changewordfirst 7s infinite;
          animation: changewordfirst 7s infinite;
}
.word:nth-of-type(2) {
  color: #791E94;
  -webkit-animation: changewordsecond 7s infinite;
          animation: changewordsecond 7s infinite;
}
.word:nth-of-type(3) {
  color: #41D3BD;
  -webkit-animation: changewordthird 7s infinite;
          animation: changewordthird 7s infinite;
}

@-webkit-keyframes changewordfirst {
  0% {
    width: 160px;
  }
  16.5% {
    width: 160px;
  }
  25% {
    width: 0;
  }
  93.75% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}

@keyframes changewordfirst {
  0% {
    width: 160px;
  }
  16.5% {
    width: 160px;
  }
  25% {
    width: 0;
  }
  93.75% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}
@-webkit-keyframes changewordsecond {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  33% {
    width: 195px;
  }
  50% {
    width: 195px;
  }
  58.25% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes changewordsecond {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  33% {
    width: 195px;
  }
  50% {
    width: 195px;
  }
  58.25% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes changewordthird {
  0% {
    width: 0;
  }
  58.25% {
    width: 0;
  }
  66% {
    width: 125px;
  }
  85% {
    width: 125px;
  }
  93.75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes changewordthird {
  0% {
    width: 0;
  }
  58.25% {
    width: 0;
  }
  66% {
    width: 125px;
  }
  85% {
    width: 125px;
  }
  93.75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes changewords {
  0% {
    width: 160px;
  }
  16.5% {
    width: 160px;
  }
  25% {
    width: 0;
  }
  33% {
    width: 195px;
  }
  50% {
    width: 195px;
  }
  58.25% {
    width: 0;
  }
  66% {
    width: 118px;
  }
  85% {
    width: 118px;
  }
  93.75% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}
@keyframes changewords {
  0% {
    width: 160px;
  }
  16.5% {
    width: 160px;
  }
  25% {
    width: 0;
  }
  33% {
    width: 195px;
  }
  50% {
    width: 195px;
  }
  58.25% {
    width: 0;
  }
  66% {
    width: 118px;
  }
  85% {
    width: 118px;
  }
  93.75% {
    width: 0;
  }
  100% {
    width: 160px;
  }
}  